@model IEnumerable<RightProject.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderN.Orderid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Billid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Billid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Billid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
