@model RightProject.Models.Product

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/addcustomer.css" />
<div class="overlay">
    <div id="pageintro" class="hoc clear">


        <section class="group">
            <div class="one_half first"><img style="margin-top:50px" class="inspace-15 borderedbox" src="~/images/products/@Html.DisplayFor(model => model.Picture)"></div>
            <div class="one_half">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="shopId" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.shopId)</p>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Name)</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Properties" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Properties)</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Type" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Type)</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Manufacturer" class="heading">Manufact</label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Manufacturer)</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PointsToBuy" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.PointsToBuy)</p>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Price" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Price)</p>

                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Points" class="heading"></label>
                        <p class="form-control input-text">@Html.DisplayFor(model => model.Points)</p>
                    </div>
                </div>


            </div>
        </section>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Productid" />
            <input type="submit" value="Delete" class="btn" />

        </form>
        <div class="clear"></div>
      </div></div>




